/tmp-latex/
*.lol
*.maf
*.mtc
*.mtc0
*.mtc1
report.pdf
report_DEF.pdf
report_SIM.pdf
report_SPEC.pdf
/report.aux
/report.dvi
/report.ilg
/report.ind
/report.lof
/report.log
/report.out
/report.ps
/report.toc
*.eps
*.svg
/doc-gen/*
/src-gen/*
/report.bbl
/report.blg
